@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #0AF14C 0%, #802B2B 100%);
}

p {
    color: aquamarine;    
}

.lorem {
    border-style: groove;
    border-radius: 10px;
    border-color: #802B2B ;
    
}

.nav-link {
    color: aquamarine;
}
.navbar-nav .nav-link.active {
    color: rgb(121, 121, 121);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(121, 121, 121);
}

.side-bar {
    color: aquamarine;
    background: linear-gradient(270deg, #07180c 0%, #802B2B 100%);
}

.card {
    background: linear-gradient(270deg, #07180c 0%, #802B2B 100%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #07180c 0%, #802B2B 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-anim {
    animation: myAnim 2s ease-in 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}